.color-graph {
  position: relative;
  background: #f3f3f3;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

.color-graph__values {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 0;
}

.color-graph__value {
  font-size: 12px;
  flex: 1 0 0;
  text-align: center;
  padding: 0 4px;
}

.color-graph__inputs .color-graph__input {
  border-radius: 0;
}

.color-graph__inputs .color-graph__input:first-of-type {
  border-radius: 4px 0 0 4px;
}

.color-graph__inputs .color-graph__input:last-of-type {
  border-radius: 0 4px 4px 0;
}

.color-graph__canvas {
  --color-a: #eee;
  --color-b: #ccc;
  --size: 6px;

  border-radius: 0 0 3px 3px;

  background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);
  background-size: var(--size) var(--size);
  background-image: linear-gradient(45deg, var(--color-a) 25%, transparent 25%, transparent 75%, var(--color-a) 75%, var(--color-a) 100%), linear-gradient(45deg, var(--color-a) 25%, var(--color-b) 25%, var(--color-b) 75%, var(--color-a) 75%, var(--color-a) 100%);
}

.color-graph__canvas-wrapper {
  position: relative;
  display: flex;
}

.color-graph__sliders {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.color-graph__inputs .input {
  border-right-width: 0;
}

.color-graph__inputs .input:last-of-type {
  border-right-width: 1px;
}
