.split-container {
  display: flex;
  flex-wrap: nowrap;
}

.split-container_horizontal {
  flex-direction: row;
}

.split-container_vertical {
  flex-direction: column;
}

.split-container_horizontal > div {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.split-container_horizontal > div:last-of-type {
  border-right-width: 0;
}

.split-container_vertical > div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.split-container_vertical > div:last-of-type {
  border-bottom-width: 0;
}
