.modal {
  position: fixed;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1), 0 8px 12px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  display: flex;
  flex-direction: column;

  top: 24px;
  left: 50%;
  transform: translate(-50%);
}

.modal__backdrop {
  content: '';
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.modal__title {
  font-size: 18px;
  font-weight: 500;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px;
}

.modal__body {
  padding: 0 12px;
}

.modal__footer {
  padding: 12px;
}

.modal.modal-enter {
  opacity: 0;
  top: 0;
}

.modal.modal-enter-active {
  opacity: 1;
  transition: opacity 150ms, top 300ms;
  transition-delay: 250ms;
  top: 24px;
}

.modal.modal-exit {
  opacity: 1;
  top: 24px;
}

.modal.modal-exit-active {
  opacity: 0;
  transition: opacity 150ms, top 300ms;
  top: 0;
}


.modal__backdrop.modal-enter {
  opacity: 0;
}

.modal__backdrop.modal-enter-active {
  transition: opacity ease-in-out 250ms, backdrop-filter ease-in-out 250ms;
  opacity: 1;
}

.modal__backdrop.modal-exit {
  opacity: 1;
}

.modal__backdrop.modal-exit-active {
  transition: opacity ease-in-out 250ms, backdrop-filter ease-in-out 250ms;
  opacity: 0;
}
