.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__body {
  flex-basis: min-content;
  overflow: auto;
  min-height: 0;
  flex-grow: 1;
}

.pg-button {
  padding: 0.15em 0.6em;
  gap: 0.3em;
  display: inline-flex;
  align-items: center;
  border-radius: 0.3em;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(0, 0, 0, 0.2)
}

.pg-button:active {
  background-color: #eee;
}

.pg-button svg {
  /* font-size should be same as button text line-height */
  font-size: var(--line-height);
}
