.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app__body {
  flex-basis: min-content;
  overflow: auto;
  min-height: 0;
  flex-grow: 1;
}

.sidebar {
  background: rgb(251, 250, 250);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
}

.sidebar-header {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  row-gap: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sidebar-header .color-info,
.sidebar-header .color-form {
  grid-column: 1 / span 2;
}

.color-info {
  display: flex;
  justify-content: space-between;
}

.color-info__name {
  font-weight: 600;
}

.color-info__name:first-letter {
  text-transform: uppercase;
}

.color-info__form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pg-button {
  padding: 0.15em 0.6em;
  gap: 0.3em;
  display: inline-flex;
  align-items: center;
  border-radius: 0.3em;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 0 rgba(0, 0, 0, 0.2)
}

.pg-button:active {
  background-color: #eee;
}

.pg-button svg {
  /* font-size should be same as button text line-height */
  font-size: var(--line-height);
}
