.navbar {
  background: #f2f2ee;
  border-bottom: 1px solid #e3e1e9;
  color: #2b2e43;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  display: flex;
  /*grid-template-columns: 1fr 1fr 1fr;*/
}

.navbar__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar__form {
  display: flex;
  gap: 8px;
  margin: 0;
  align-items: center;
}

.navbar__controls {
  display: flex;
  gap: 8px;
}

.navbar__form .input {
  background: rgba(235, 235, 235, 0.1);
}

.navbar__button {
  font-size: 14px;
  padding: 2px 4px;
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  line-height: 20px;
  color: inherit;
  position: relative;
  margin: 0;
  gap: 8px;
  vertical-align: top;
}

.navbar__button:hover {
  background: rgba(0, 0, 0, .1);
}

.navbar__button svg {
  font-size: 20px;
}
