.navbar {
  display: flex;
  background: rgb(246, 245, 238);
  border-bottom: 1px solid #e3e1e9;
  color: #2b2e43;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.navbar__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.navbar__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar__button {
  background: none;
  color: inherit;
  margin: 0;
  text-align: right;
  font-size: 14px;
  display: inline-flex;
  align-items: baseline;
  padding: 0 8px;
  gap: 4px;
  border-radius: 3px;
}

.navbar__form {
  display: flex;
  gap: 8px;
  margin: 0 8px;
  align-items: baseline;
}

.navbar__button svg {
  font-size: 1.4em;
}

.navbar__button:hover {
  background: rgba(170, 150, 150, .2);
  box-shadow: 0 0 0 2px rgba(170, 150, 150, .2);
}

.navbar__controls {
  display: flex;
  gap: 8px;
}

.navbar__form .input {
  background: rgba(235, 235, 235, 0.1);
}
