.color-picker__range-holder {
  padding: 4px;
  display: flex;
}

.color-picker__range {
  display: flex;
  border-radius: 16px;
  appearance: none;
  height: 12px;
}

.color-picker__range::-webkit-slider-runnable-track {
  margin: 4px;
}

.color-picker__range::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  outline: 8px solid #fff;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 16px;
  outline-offset: -1px;
  box-shadow: 0 2px 4px 6px rgba(0, 0, 0, 0.15);
}

.color-picker__pointer {
  width: 12px;
  height: 12px;
  box-shadow: 0 0 0 2px #fff;
  position: absolute;
  border-radius: 6px;
}

.color-picker__graph {
  aspect-ratio: 2.25/1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), linear-gradient(90deg, rgb(255, 255, 255), currentColor);
  position: relative;
  border-radius: 6px;
}

.color-picker__plot {
  aspect-ratio: 2.25/1;
  box-shadow: 0 0 0 1px #333;
}
