:root {
  --font-size: 14px;
  --line-height: 1.2em;
  --outline-color: rgba(128, 183, 255, 0.75);
  --outline-size: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--font-size);
}

*:focus {
  outline: var(--outline-size) solid var(--outline-color);
}

* {
  font-family: inherit;
}

select, input, button, label {
  border-width: 0;
  line-height: var(--line-height);
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
}
